@font-face {
  font-family: 'MyFont';
  src: url('./my-font.woff2') format('woff2'),
    url('./my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}


body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:#17A7FF;
  border: 2px solid white;
}


header{
  display: flex;
  flex-direction: row;
  background-color: #08205F;
  /* border: 2px solid pink; */
  flex: 0 0 10%;
  justify-content: space-around;
  align-items: center;
}


.content{
  background-color: #8298C6;
  flex:0 0 70%;
  /* border: 2px solid orange; */
  display: grid;
  place-content: center;
}


#task_form > .block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}


#task_form{
  display: flex;
  flex-direction: column;
   justify-content: space-around;
}


#pop_up{
  display: none;
}

#pop_up.active{
  background-color: #032E66;
  display: flex;
  justify-content: space-between;
justify-content: center;
  height: 400px;
  width: 400px;
}


#textArea{
  height: fit-content;
  width: fit-content;
  max-width: fit-content;
  max-height: fit-content;
  background-color: #8298C6;
}

#to_do_container{
  /* border: 2px solid firebrick; */
  overflow: scroll;
}

footer{
  background-color: #08205F;
  flex: 0 0 10%;
  /* border: 2px solid gray; */
  display: flex;
  justify-content: center;
}

#lisence{
  font-size: 2em;
}
